@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue100: #8ea2d7;
    --blue200: #4569ad;
    --blue300: #1f3f74;
    --blue400: #14366d;
    --blue500: #081f44;
}


main {
  display: block;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  font-family: 'Inter Tight';
  color: #081f44;
}

.loginBox {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    align-items: center;
    padding: 3rem;
    background-color: #8ea2d7;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 30px 20px rgba(0, 0, 0, 0.2) ;
    gap: 2rem;
}

input{
    border: none;
    padding: 0.7rem;
    border-radius: 0.4rem;
}

.loginArea {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.loginInputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

button {
    background-color: #081f44;
    padding: 1rem 3rem;
    border: none;
    color: #f0f0f0;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: all 0.2s;
}

button:hover {
    background-color: #08111f;
    cursor: pointer;
}